 html body {
  background-color: rgb(250, 224, 202);
  margin: 2vw;
}

h1 {
  font-family: cursive;
  text-align: center;
}

#beasts {
  display: inline-flex;
  margin: 0.125vw;
}

#card {
  background-color: aliceblue;
  border: 1rem darkblue outset;
  flex-direction: column;
  margin-bottom: 1.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1.5rem;
  padding: 0.5rem;
}

#cardHeader {
  margin: auto;
}

#cardTitle {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
}

#cardBody {
  background-color: aliceblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: left;
}

#cardText {
  font-size: 1.75rem;
}

#cardFooter {
  justify-content: space-evenly;
  background-color: paleturquoise;
  display: inline-flex;
  font-size: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

